/*
	Page style
*/


#slides {
	position: relative;
	width: 980px;
	margin: 0 auto 40px;
}

/*
	Next/prev buttons
*/

#slides .slidesNext,#slides .slidesPrevious {
	position: absolute;
	top: 134px;
	left: 0;
	width: 24px;
	height: 0;
	padding-top: 32px;
	display: block;
	z-index: 101;
	overflow: hidden;
	background: url(../img/navigation-previous.png) no-repeat 0 0;
}

#slides .slidesNext {
	left: 958px;
	background: url(../img/navigation-next.png) no-repeat 0 0;
}

/*
	Pagination
*/

.slidesPagination {
	margin: 10px 0 0;
	position: relative;
	left: 43%;
}

.slidesPagination li {
	float: left;
	margin: 0 1px;
	list-style: none;
}

.slidesPagination li a {
	display: block;
	width: 14px;
	height: 0;
	padding-top: 14px;
	background-image: url(../img/pagination.png);
	background-position: 0 0;
	overflow: hidden;
}

.slidesPagination li.slidesCurrent a {
	background-position: 0 -14px;
}

.current_slide {
	font: bold 10px/1.33 sans-serif;
	float: left;
	margin-top: 12px;
}

.controls {
	display: block;
	margin-top: 12px;
	float: left;
	color: #333;
	font: bold 10px/1.33 sans-serif;
	margin-right: 10px;
}
